<div class="box tabular">
  <p>
    <%= f.label l(:email_addresses) %> <%= f.text_field :mail_addresses, :size => 60 %><br />
    <em><%= l(:email_addresses_comma_separated) %></em>
  </p>
  <p><%= f.label l(:enabled) %> <%= f.check_box :enabled %></p>
  <p><%= f.label l(:newissuealerts_set_priority) %> <%= f.check_box :priority %></p>
  <p>
    <%= f.label l(:field_tracker) %> <%= f.select :tracker_id, [["All", -1]] + @project.trackers.collect {|t| [t.name, t.id]} %>
  </p>

  <p><%= f.label l(:newissuealerts_subject) %> <%= f.text_field :subject, :size => 255 %></p>
  <p><%= f.label l(:newissuealerts_template) %> <%= f.text_area :template %></p>

</div>
<%= f.submit @newissuealert.new_record? ? l(:create) : l(:save) %>